.App {
  text-align: center;
  
  color: white;
}
body {
  background-color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
span {
  font-weight: 900;
}
h3 {
  color: teal;
}

.NavContainer {
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.logoContainer {
  height: 100%;
  margin: 4px;
}
.logo {
  height: 100%;
}

.tabsContainer {
 width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tab {
  color: black;
}
.contactContainer {
  color: black;
  margin: 4px;
}
.socialMedia {
  display: flex;
  justify-content: space-around;
}
.landing{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}
.aboutMeContainer{
  width: 45%;
  height: 40vh;
}
.resumeContainer{
  width: 45%;
  height: 40vh;
}
.projectsContainer{
  width: 45%;
  height: 40vh;
}
.codeBlogContainer{
  width: 45%;
  height: 40vh;
}
.landingImg{
  height: 35vh;
}
.footer {
  height: 10vh;
  background-color: teal;
  color: black;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}