.App {
  text-align: center;
  
  color: white;
}
body {
  background-color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
span {
  font-weight: 900;
}
h3 {
  color: teal;
}
h1 {
  color: teal
}

.NavContainer {
  position: fixed;
  top: 1%;
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 98vw;
}
.content {
  margin-top: 12vh;
}
.logoContainer {
  height: 100%;
  margin: 4px;
}
.logo {
  height: 100%;
}

.tabsContainer {
 width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tab {
  color: black;
}
.contactContainer {
  color: black;
  margin: 4px;
}
.socialMedia {
  display: flex;
  justify-content: space-around;
}
.landing{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin-top: 12vh;
}
.aboutMeContainer{
  width: 45%;
  height: 40vh;
}
.resumeContainer{
  width: 45%;
  height: 40vh;
}
.projectsContainer{
  width: 45%;
  height: 40vh;
}
.codeBlogContainer{
  width: 45%;
  height: 40vh;
}
.landingImg{
  height: 35vh;
}
.footer {
  height: 10vh;
  background-color: teal;
  color: black;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.resumeBox {
  background-color: rgb(1, 57, 57);
  margin: 2.5%;
  border-radius: 5%;
  padding: 2.5%;
}
.featureContainer {
  /* border: solid red 2px; */
  background-color: rgb(1, 57, 57);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1%;
  margin: 2vw;
}
.projects {
  background-color: #282c34;
  border-radius: 1%;
}
.projectsBox {
  /* border: solid white 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  padding: 1%;
  
}
.projectBox {
  /* border: solid blue 1px; */
  width: 20vw;
  background-color: black;
  border-radius: 10%;
  transition: transform 0.5s ease;
}
.projectBox:hover {
  transform: scale(1.075);

}
.projectPic {
  width: 20vw;
}
.buttonBox {
  display: flex;
  justify-content: space-around;
}

.currentProjectBox {
  width: 20vw;
  background-color: rgb(1, 57, 57);
  border-radius: 10%;
  transition: transform 0.5s ease;
}
.currentProjectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}